<% content_for :title, "Editing Minor Entry" %>

<h1>Editing Minor Entry</h1>
<p style="color: green"><%= notice %></p>
<%= render "form", ai_table: @ai_table %>


<div>
  <%= button_to "Delete", @ai_table, method: :delete %>
  <br><br/>
  <%= link_to "Back to Tables", tables_path %>
</div>
