<% content_for :title, "Editing Major Entry" %>

<h1>Editing Major Entry</h1>
<p style="color: green"><%= notice %></p>
<%= render "form", econ_table: @econ_table %>


<div>
  <%= button_to "Destroy this Entry", @econ_table, method: :delete %>
  <br><br/>
  <%= link_to "Back to Tables", tables_path %>
</div>
