<% content_for :title, "Editing econ table" %>

<h1>Editing econ table</h1>

<%= render "form", econ_table: @econ_table %>

<br>

<div>
  <%= link_to "Show this econ table", @econ_table %> |
  <%= link_to "Back to econ tables", econ_tables_path %>
</div>
