<p style="color: green"><%= notice %></p>

<% content_for :title, "Econ tables" %>

<h1>Econ tables</h1>

<div id="econ_tables">
  <% @econ_tables.each do |econ_table| %>
    <%= render econ_table %>
    <p>
      <%= link_to "Show this econ table", econ_table %>
    </p>
  <% end %>
</div>

<%= link_to "New econ table", new_econ_table_path %>
