<p style="color: green"><%= notice %></p>

<% content_for :title, "Ai tables" %>

<h1>Ai tables</h1>

<div id="ai_tables">
  <% @ai_tables.each do |ai_table| %>
    <%= render ai_table %>
    <p>
      <%= link_to "Show this ai table", ai_table %>
    </p>
  <% end %>
</div>

<%= link_to "New ai table", new_ai_table_path %>
